@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <button id="btnSalvar"  class="glyphicon-bullhorn" onclick="home.salvar();">Salvar</button>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>


